# Node modules
/node_modules/

# Build output
/build/
/dist/

# System files
.DS_Store
Thumbs.db

# IDEs and editors
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Dependency directories
jspm_packages/

# TypeScript cache
*.tsbuildinfo

# React Native
.expo/

# Misc
*.tgz
